@import '../../scss/base.scss';

.demo {
  margin-top: $top;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &-wrapper {
    width: 500px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      font-family: $montserrat;
      font-style: normal;
      font-weight: $bold;
      font-size: $titleAlt;
      line-height: 56px;

      letter-spacing: -0.01em;

      color: #121619;
    }

    &__img {
      width: 56px;
      height: 56px;
      object-fit: contain;
    }

    &__text {
      font-family: $montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: $text;
      line-height: 24px;

      letter-spacing: -0.01em;

      color: #343a3f;
    }
  }

  &-container {
    width: 430px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
  }

  &-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__option {
      font-family: $montserrat;
      font-style: normal;
      font-weight: $bold;
      font-size: $heading;
      line-height: 32px;

      color: #121619;
    }

    &__text {
      font-family: $montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: $heading;
      line-height: 32px;

      color: #121619;
    }
  }

  &-dialpad {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('./images/frame.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    object-fit: contain;

    &-container {
      width: 80%;
      height: 65%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-wrapper {
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &__item {
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;

        background: #f2f4f8;
        border-radius: 1000px;

        font-family: $montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: $titleMobile;
        line-height: 36px;

        text-align: center;
        letter-spacing: -0.01em;

        color: #4d5358;

        transition: 0.5s;

        cursor: pointer;

        &_active {
          color: $blue;
          background: rgba(15, 98, 254, 0.2);

          position: relative;

          &::before {
            position: absolute;
            content: '';
            width: 75px;
            height: 75px;

            border-radius: 1000px;

            border: 12px solid rgba(15, 98, 254, 0.04);

            animation: pulse infinite 2s ease-in;
          }

          &::after {
            position: absolute;
            content: '';
            width: 75px;
            height: 75px;

            border-radius: 1000px;

            border: 24px solid rgba(15, 98, 254, 0.04);

            animation: pulse infinite 3s ease-in;
          }
        }

        &_selected {
          &:hover {
            color: $blue;
            background: rgba(15, 98, 254, 0.2);
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .demo {
    flex-direction: column;
    align-items: center;
    height: 900px;

    &-wrapper {
      width: 100%;
      height: auto;
      &_hidden {
        display: none;
      }
    }
  }
}
