@import '../../scss/base.scss';

.tutorial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &__option {
      font-family: $montserrat;
      font-style: normal;
      font-weight: $bold;
      font-size: $heading;
      line-height: 32px;

      // color: #121619;

      color: $blue;
    }

    &__text {
      font-family: $montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: $heading;
      line-height: 32px;

      color: #121619;
    }
  }
}
