@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$montserrat: 'Montserrat', sans-serif;

// desktop

$title: 56px;
$heading: 24px;
$text: 18px;
$button: 16px;
$bold: bold;

// mobile

$titleMobile: 36px;
$titleMobileAlt: 28px;
$headingMobile: 16px;
