@import '../scss/base.scss';

body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
  overflow-y: hidden;
}

.button-container {
  margin-top: $top;
  display: none;
  align-items: center;

  &_open {
    display: flex;
  }

  &-wrapper {
    margin-left: 10px;
    display: flex;
    align-items: center;

    user-select: none;
    &__text {
      font-family: $montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;

      color: $white;

      &_bold {
        font-weight: $bold;
        margin-left: 5px;
      }
    }

    &__img {
      margin-left: 10px;
    }
  }
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:hover {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill-selected {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.form {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    margin-left: 10px;
  }

  &__img_demo {
    margin-left: 10px;
  }

  &-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &__page {
      margin-right: 40px;
      font-family: $montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: $title;
      line-height: 64px;

      letter-spacing: -0.01em;

      color: rgba(255, 255, 255, 0.2);
    }

    &-wrapper {
      width: 720px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &_details {
        height: auto;
      }

      &__title {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: $title;
        line-height: 64px;

        letter-spacing: -0.01em;

        color: $white;
      }
    }
  }
}

@keyframes pulse {
  from {
    width: 75px;
    height: 75px;
    opacity: 1;
  }

  50% {
    width: 85px;
    height: 85px;
    opacity: 0.5;
  }

  to {
    width: 75px;
    height: 75px;
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .button-container {
    width: 100%;
    &-wrapper {
      display: none;
    }
  }

  .form {
    &_details {
      height: 70vh;
    }
    &__img {
      display: none;
    }
    &-main {
      flex-direction: column;
      align-items: flex-start;

      &__page {
        margin-right: 0;

        font-size: $titleMobileAlt;
        font-style: normal;
        font-weight: bold;
        line-height: 32px;

        letter-spacing: -0.01em;
      }

      &-wrapper {
        width: 100%;

        &__title {
          font-size: $titleMobileAlt;

          font-style: normal;
          font-weight: bold;
          line-height: 32px;

          letter-spacing: -0.01em;

          color: $white;
        }
      }
    }
  }
}
